<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/tableau.css" />
    <title>API-R6-Esport</title>
</head>

<body>
    <header>
        <h2>
            <a href="/">
                <img src="/images/r6_logo.jpg" alt="API R6 Esport" />
            </a>
        </h2>
        <ul>
            <li>
                <a href="/">Acceuil</a>
            </li>
            <li>
                <a href="/agents">Agents</a>
            </li>
            <li>
                <a href="/organisations">Organisations</a>
            </li>
            <li>
                <a href="/scenarios">Scenarios</a>
            </li>
            <li>
                <a href="/cartes">Cartes</a>
            </li>
        </ul>
    </header>

    {{{body}}}

    <footer>
        <hr>
        <ul>
            <li>API-R6-Esport, aucuns droits réservés</li>
            <li>
                <a href="https://gitlab.com/louis_maury/api-r6-esport" target="_blank">
                    Gitlab
                </a>
            </li>
        </ul>
    </footer>

</body>

</html>