<h1>Agents</h1>


<table>
    <tr>
        <th class="title">Pseudonyme</th>
        <th class="title">Logotype</th>
        <th class="title">Organisation</th>
        <th class="title">Role</th>
        <th class="title">Poucentage de chance d'être choisi</th>
        <th class="title">Carte favorite</th>
        <th class="title">Carte handicape</th>
    </tr>
    {{#each agent}}
    <tr>
        <th class="element">
            <a href="/agents/nom={{nom}}">{{nom}}</a>
        </th>
        <th class="element"><img id="agent_logo" src='/images/agents/{{icone}}' alt="Icone de {{nom}}" /></th>
        <th class="element">
            <a href="/organisations/nom={{Organisation.nom}}">
                <img src='/images/organisations/{{Organisation.flag}}' alt="Icone de {{Organisation.nom}}"
                    title="{{Organisation.nom}}" />
            </a>
        </th>
        <th class="element">{{role}}</th>
        <th class="element">{{pourcentage_choisi}}</th>
        <th class="element"><a href="/cartes/nom={{fav_carte.nom}}">{{fav_carte.nom}}</a></th>
        <th class="element"><a href="/cartes/nom={{handi_carte.nom}}">{{handi_carte.nom}}</a></th>
    </tr>
    {{else}}
    <th class="element">Aucun agent disponible...</th>
    {{/each}}
</table>