<h1>Cartes</h1>
<table>
    <tr>
        <th class="title">Nom</th>
        <th class="title">Scenario</th>
    </tr>
    {{#each carte}}
    <tr>
        <th class="element">
            <a href="/cartes/nom={{nom}}">{{nom}}</a>
        </th>
        <th class="element">
            <a href="/scenarios/nom={{Scenario.nom}}">
                {{Scenario.nom}}
            </a>
        </th>
    </tr>
    {{else}}
    <th class="element">Aucun agent disponible...</th>
    {{/each}}
</table>