<h1>Bienvenue sur l'API dédié à RainbowSix Siege !</h1>
<p>Installez-vous ! Mettez-vous à l'aise on ne mord pas.</p>
<p>C'est jolie hein ? (non ça ne l'est pas.)</p>
<p>Vous vous demandez surement comment on a fait pour en arriver là ?</p>
<p>Jetez donc un coup d'oeil a notre <a href="https://gitlab.com/louis_maury/api-r6-esport/-/wikis/home"
        target="_blank">wiki !</a></p>