<h1>Organisations</h1>


<table>
    <tr>
        <th class="title">Nom</th>
        <th class="title">Pays</th>
    </tr>
    {{#each organisation}}
    <tr>
        <th class="element">
            <a href="/organisations/nom={{nom}}">{{nom}}</a>
        </th>
        <th class="element">
            <img src='/images/organisations/{{flag}}' alt="Icone de {{nom}}" />
        </th>
    </tr>
    {{else}}
    <th class="element">Aucun organisation disponible...</th>
    {{/each}}
</table>