<h1>Scenarios</h1>


<table>
    <tr>
        <th class="title">Nom</th>
        <th class="title">Description</th>
    </tr>
    {{#each scenario}}
    <tr>
        <th class="element">
            <a href="/scenarios/nom={{nom}}">{{nom}}</a>
        </th>
        <th class="element">{{description}}</th>
    </tr>
    {{else}}
    <th class="element">Aucun agent disponible...</th>
    {{/each}}
</table>