body {
    background-image: url("/images/background.jpg");
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
body ul {
    display: flex;
    list-style: none;
}
body a{
    color: whitesmoke;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 25%;
}

header li {
    margin: 10px;
    overflow: auto;
}
header a{
    text-decoration: none;
    color: whitesmoke;
}

footer ul {
    justify-content: space-around;
}
footer a{
    text-decoration: none;
    color: whitesmoke;
}

table {
    background-color: #222222;
    width: 100%;
}
th {

    height: 50px;
}

.title{
    background-color: #36A9E0;
    color: black;
}
.element {
    color: whitesmoke;
}
.element:hover {
    color: black;
    background-color: #36A9E0;
}
.element:hover a {
    color: black;
    text-decoration: underline;
}
.element a {
    text-decoration: none;
    color: whitesmoke;
}
.element a:hover {
    text-decoration: underline;
    color: black;
}
#agent_logo {
    width: 50%;
}